<h2><%= link_to "Houses of Westeros", houses_path %></h2>
<h3>House <%= @house.name %></h3>

<h3>Characters <%= link_to "(+)", new_house_character_path(@house) %></h3>

  <% @house.characters.each do |character| %>
    <p><%= link_to character.name, house_character_path(@house, character) %>  <%= link_to "(edit)", edit_house_character_path(@house, character) %></p>
    <p><%= link_to 'Kill Off', house_character_path(@house, character),
            method: :delete,
            data: { confirm: 'Valar Morghulis!' } %></p>
  <% end %>
