<h2><%= link_to "Houses of Westeros", houses_path %></h2>

<h2><%= @character.name %></h2>
<h3>House <%= @house.name %></h3>
<img src="<%= @character.img_url %>">

<h3>Quotes <%= link_to "(+)", new_character_quote_path(@character) %></h3>

<% @character.quotes.each do |quote| %>
  <p><%= quote.saying %>  <%= link_to "(edit)", edit_character_quote_path(@character, quote) %></p>
  <p><%= link_to 'Off with your tongue!', character_quote_path(@character, quote),
          method: :delete,
          data: { confirm: 'Silenced?' } %></p>
<% end %>
